.btn{
  border: none;
  border-right: 1px solid white;
  background-color: rgba(52, 152, 219,1.0);
  color: white;
  width: 150px;
  height: 30px;
}

.btn:hover{
  background-color: rgba(41, 128, 185,1.0);
  cursor: pointer;
}
