<!-- Forms (template driven approach ***,reactive forms)-->
<div class="outer">
  <div class="form-outer">
    <h3 style="text-align: center">Login</h3>
    <div class="input-outer" style="margin-bottom: 10px">
      <input placeholder="email" type="email" name="email" id="emailId">
    </div>
    <div class="input-outer" style="margin-bottom: 10px">
      <input placeholder="password" type="password" name="password" id="passwordId">
    </div>
    <div class="input-outer" style="display: flex; justify-content: flex-end">
      <input type="button" value="Login">
    </div>

  </div>
</div>

