<!-- Forms (template driven approach ***,reactive forms)-->
<div class="outer">
  <div class="form-outer">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h3 style="text-align: center">Login</h3>
    <div class="input-outer" style="margin-bottom: 10px">
      <input formControlName="email" placeholder="email" type="email" name="email" id="emailId">
    </div>
      <p class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        email is required!
      </p>
    <div class="input-outer" style="margin-bottom: 10px">
      <input formControlName="password" placeholder="password" type="password" name="password" id="passwordId">
    </div>
      <p class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        password is required!
      </p>
    <div class="input-outer" style="display: flex; justify-content: flex-end">
      <input [disabled]="loginForm.invalid" class="{{loginForm.invalid?'inactive': 'active'}}" type="submit" value="Login">
    </div>
    </form>
  </div>
</div>

